<%= month_calendar events: @meetings do |date, meetings| %>
  <%= t(date) %>
  <% meetings.each do |meeting| %>
    <div><%= meeting.name %></div>
    <div><%= meeting.start_time %></div>
    <div><%= meeting.localization %></div>
  <% end %>
<% end %>