<%= month_calendar events: @meetings do |date, meetings| %>
  <%= l(date) %>
  <table class="table table-striped table-responsive">
    <thead>
      <th>Cliente</th>
      <th>Endereço</th>
      <th>Celular</th>
      <th>Produtos</th>
      <th>Tipo Pagamento</th>
      <th>Valor Total</th>
      <th>Informações</th>
      <th>Horário</th>
    </thead>
    <% meetings.each do |meeting| %>
    <tbody>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.localization %></td>
        <td><%= meeting.phone %></td>
        <td><%= meeting.products %></td>
        <td><%= meeting.payment_type %></td>
        <td><%= meeting.total_price %></td>
        <td><%= meeting.information %></td>
        <td><%= meeting.start_time.strftime("%H:%M") %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
<% end %>