<%= month_calendar events: @meetings do |date, meetings| %>
  <%= l(date) %>
  <table class="table table-striped">
    <% meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= l(meeting.start_time) %></td>
        <td><%= meeting.localization %></td>
      </tr>
    <% end %>
  </table>
<% end %>