<%= form_for @availability, :html => { :class => "form-horizontal availability" } do |f| %>

  <% if @availability.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@availability.errors.count, "error") %> prohibited this availability from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @availability.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :localization, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :localization, :class => 'form-control', :required => true %>
    </div>
    <%=f.error_span(:localization) %>
  </div>
  <div class="form-group">
    <%= f.label :start_time, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= datetime_local_field(:availability, :start_time, :required => true) %>
    </div>
    <%=f.error_span(:start_time) %>
  </div>
  <div class="form-group">
    <%= f.label :end_time, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= datetime_local_field(:availability, :end_time, :required => true) %>
    </div>
    <%=f.error_span(:end_time) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                availabilities_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
