<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
<%= month_calendar events: @availabilities do |date, availabilities| %>
  <%= l(date) %>
  <% if date >= Date.today %>
    <% if availabilities.empty?%>
      <div>Indisponível</div>
    <% else %>
      <% availabilities.each do |availability| %>
        <%= link_to t('.new', :default => t("New Meeting")),
                  new_meeting_path,
                  :class => 'btn btn-primary' %>
        <div><%= availability.localization %></div>
        <div>Das <%= availability.start_time.strftime("%H:%M") %> às <%= availability.end_time.strftime("%H:%M") %></div>
      <% end %>
    <% end %>
  <% end %>
<% end %>