<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Agendador</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="<%= availabilities_path %>">Disponibilidades do entregador</a></li>
      <li><a href="<%= clients_delivers_path %>">Calend치rio Agendamentos Clientes</a></li>
      <li><a href="<%= show_path %>">Calend치rio Agendamentos Entregador Mensal</a></li>
      <li><a href="<%= show_delivers_path %>">Calend치rio Agendamentos Entregador Di치rio</a></li>
      <li><a href="<%= meetings_path %>">Lista de agendamentos clientes</a></li>
      <li><a href="<%= edit_user_registration_path %>">Editar perfil</a></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
    </ul>
  </div>
</nav>